{
	"globals": {
		"QUnit": true,
		"sap": true,
		"jQuery": true,
		"Promise": true,
		"$": true,
		"sinon": true,
		"qutils": true,
		"createNodeElementFromOldVersion": true,
		"oChartContainerAnalyticMap": true,
		"oChartContainerHelpers": true,
		"oChartContainerData": true,
		"oChartContainerConstants": true,
		"oChartContainerMain": true,
		"drawProcessFlowConnections": true
	}
}