.asugDate .sapMInputBaseInner {
	border: 0;
	
}
.sapUiVkListPanel .sapMLIB.asugDate {
	padding: 0;
	
}
.SCMAnaMap .vbi-detail,.TMGeoMap .vbi-detail
{
     visibility: hidden !important; 
			    width: 0;
			    height: 0;
			    padding: 0;
			    margin: 0;
			    border: 0;
			    overflow: hidden;
}

.IconList .sapMSLIImg, .IconList .sapMSLIImgFirst{
	margin:0.5rem 0.5rem 0.5rem -0.5rem;
}
.widthObjectHeader {
	width:20rem;
}	
	.sapUiVkMapContainerListPanelArea {
	height: auto !important;
	max-height: 100%;
	}
	.sapUiRespGrid .sapMFlexItem {
    margin-left: 0px;
    margin-top: 0px; 
    }
	.sapMFlexItem {
    margin-left: 15px;
    margin-top: 18px; 
    }