<!DOCTYPE HTML>
<html ng-app="rotateApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet"></link>

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

		<script id="sap-ui-bootstrap"
		src="../../../../../../../resources/sap-ui-core.js"
		data-sap-ui-libs="sap.ui.vk"
		data-sap-ui-theme="sap_bluecrystal">
		</script>

		<script src="javascript/app.js"></script>
		<script src="javascript/MainController.js"></script>
	</head>

	<!-- ng-controller attaches the functionality declared in MainController
	to the contents of <body> -->
	<body ng-controller="MainController">

		<!-- Application title -->
		<div class="row text-center">
			<h1 class="app-title"> Auto-Rotation Control</h1>
			<h3 class="app-title"> AngularJS application </h3>
		</div>

		<!-- This is where we place the Viewer control.
		The application will look for the HTML element with the
		"viewer-container" ID and inject it there-->
		<div class="row text-center">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" id="viewer-container">
				<div id="viewer-container"></div>
			</div>
		</div>

		<!-- Auto-Rotation controls:
			* START * STOP * FASTER * SLOWER-->
		<div class="row text-center voffset20">
			<div ng-click="startRotation()" class="btn btn-lg btn-default glyphicon glyphicon-play"></div>
			<div ng-click="stopRotation()" class="btn btn-lg btn-default glyphicon glyphicon-stop"></div>
			<div ng-click="increaseSpeed()" class="btn btn-lg btn-default glyphicon glyphicon-plus"></div>
			<div ng-click="decreaseSpeed()" class="btn btn-lg btn-default glyphicon glyphicon-minus"></div>
		</div>

		<!-- Load files from your local drive -->
		<div class="row text-center voffset20">
			<div style="display: inline-block">
				<div>
					<input ng-model="file" placeholder="URL for remote model" class="form-control">
					<div class="btn btn-default btn-md voffset20" ng-click="loadFile(file, viewer)">Load</div>
				</div>
			</div>
		</div>

	</body>
</html>