/*!
 * SAPUI5

		(c) Copyright 2009-2020 SAP SE. All rights reserved
	
 *//*!
 * SAPUI5

		(c) Copyright 2009-2020 SAP SE. All rights reserved
	
 */.sapUiExportSettings .sapUiExportSettingsLabel>.sapMLabel::after{content:":"}
/* Inline theming parameters */
#sap-ui-theme-sap\.ui\.export{background-image:url('data:text/plain;utf-8,%7B%7D')}
