<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>QUnit test for components.cards.ManifestPropertyHelper - sap.ushell</title>

    <script id="sap-ui-bootstrap"
            type="text/javascript"
            src="../../../../../../resources/sap-ui-core.js">
    </script>

    <link rel="stylesheet" href="../../../../../../resources/sap/ui/thirdparty/qunit-2.css" type="text/css" media="screen" />
    <script src="../../../../../../resources/sap/ui/thirdparty/qunit-2.js"></script>
    <script src="../../../../../../resources/sap/ui/qunit/qunit-junit.js"></script>
    <script src="../../../../../../resources/sap/ui/qunit/QUnitUtils.js"></script>
    <script src="../../../../../../resources/sap/ui/thirdparty/sinon.js"></script>

    <script src="../../../test/components/cards/ManifestPropertyHelper.qunit.js"></script>
</head>
<body>
<h1 id="qunit-header"></h1>
<h2 id="qunit-banner"></h2>
<h2 id="qunit-userAgent"></h2>
<div id="qunit-testrunner-toolbar"></div>
<ol id="qunit-tests"></ol>
</body>
</html>