body,
html {
	width: 100%;
	height: 100%;
}
.test-view {
	height: 100%;
}
.spacer-10 {
	margin-right: 10px;
}
.voffset-25 {
	margin-top: 25px;
}
.voffset-15 {
	margin-top: 15px;
}
.voffset-10 {
	margin-top: 10px;
}
.voffset-5 {
	margin-top: 5px;
}
.border-blue {
	border: solid 3px red;
}
.blue-text {
	color: blue;
}
.red-text {
	color: red;
}
.drop-area {
	border: 2px dashed grey;
}

/* workaround for Safari*/

.position-absolute {
	position: absolute;
}
