<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="UTF-8">
	<title>SmartTemplates Sample App (sap.suite.ui.generic.template) </title>
	<script id="sap-ui-bootstrap"
		src="../../../../../../../resources/sap-ui-core.js"
		data-sap-ui-async="true"
		data-sap-ui-libs="sap.m,sap.ui.layout,sap.ui.commons,sap.ui.comp,sap.ui.generic.app,sap.ui.rta,sap.ui.fl"
		data-sap-ui-theme="sap_bluecrystal"
		data-sap-ui-bindingSyntax="complex" 
		data-sap-ui-language="en" 
		data-sap-ui-resourceroots='{
			"sap.suite.ui.generic.template": "../../../../../../../resources/sap/suite/ui/generic/template",
			"reuselib": "./reuselib",
			"local": ".",
			"utils": "../utils"
		}'
		data-sap-ui-oninit="module:local/app">
	</script>
	<style>
		html,
		body,
		#content {
			height: 100%
		}

	</style>
</head>

<body class="sapUiBody sapUiSizeCompact" id="content">
</body>

</html>
