<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="UTF-8">

<title>SmartTemplates Sample App (sap.suite.ui.generic.template) </title>
<!--<script src="ext/ace/ace.js" type="text/javascript" charset="utf-8"></script>-->

<!-- <base href="../../../../../../../"> -->
<script id="sap-ui-bootstrap" type="text/javascript" onerror="ui5IsNotAvailable();"
	src="/resources/sap-ui-core.js"
	data-sap-ui-libs="sap.m, sap.ui.layout, sap.ui.commons, sap.ui.comp, sap.ui.generic.app"
	data-sap-ui-theme="sap_bluecrystal"
	data-sap-ui-xx-bindingSyntax="complex"
	data-sap-ui-resourceroots='{
	    "sap.suite.ui.generic.template": "../../../../../../../src/sap/suite/ui/generic/template",
	    "reuselib": "./reuselib"
	}'>
</script>

<style>
html,body,#content {
	height: 100%
}
</style>

<script src="./app.js"></script>

</head>
<body class="sapUiBody sapUiSizeCompact" id="content">
</body>
</html>