<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<title>QUnit: Example - sap.fiori.tools</title>

		<base href="../../../../../../../">
		<!--[if lte IE 9]><script type="text/javascript">
		(function() {
			var baseTag = document.getElementsByTagName('base')[0];
			baseTag.href = baseTag.href;
		})();
		</script><![endif]-->

		<script id="sap-ui-bootstrap" 
			type="text/javascript"
			src="/resources/sap-ui-core.js"
			data-sap-ui-theme="sap_bluecrystal"
			data-sap-ui-noConflict="true"
			data-sap-ui-libs="sap.fiori.tools">
		</script>

		<link rel="stylesheet" href="/resources/sap/ui/thirdparty/qunit.css" type="text/css" media="screen" />
		<script type="text/javascript" src="/resources/sap/ui/thirdparty/qunit.js"></script>
		<script type="text/javascript" src="/resources/sap/ui/qunit/qunit-junit.js"></script>
		<script type="text/javascript" src="/resources/sap/ui/qunit/QUnitUtils.js"></script>

		<script language="javascript">

		QUnit.module("Basic");

		// check default settings
		QUnit.test("Dummy", function() {
			expect(1);
			ok(true, "Always Good!");
		});

	</script>
	</head>
	<body>
		<div id="qunit"></div>
	</body>
</html>