<html>
	<head>
		<title>Sample Application based on Smart Templates </title>
		<!-- Default Styles for unbuild tests -->
		<style>
		    body {
				background-color: #eff4f9;
				font-family: Arial,Helvetica,sans-serif;
			}
		</style>

		<!--  try to load the basic UI5 styles for standalone, WebIDE and demokit usecase -->
		<link rel="stylesheet" type="text/css" href="resources/sap/ui/core/themes/sap_belize/library.css">
		<link rel="stylesheet" type="text/css" href="/resources/sap/ui/core/themes/sap_belize/library.css">
		<link rel="stylesheet" type="text/css" href="../../../../../../../resources/sap/ui/core/themes/sap_belize/library.css">
	</head>
	<body class="sapUiBody sapUiBodyBackground sapUiMediumMargin sapUiForceWidthAuto">
		<h1>Sample Applications based on Fiori Elements</h1>
		<p>These are test implementations of dedicated Fiori Elements design pattern in Fiori.</p>

		<p><em>
			To enable client side less support, add url parameter
			<b>sap-ui-xx-lesssupport=true</b>
			to any URL below after calling it. This is only necessary when running against source files.
		</em></p>

		<h2>Demokit/SDK</h2>
		These links can be used to run the application from within the Demokit/SDK (using the UI5 version shipping with the SDK).<br/>
		<ul>
			<li><a href="flpSandbox.html">Fiori Launchpad Sandbox with the test Applications</a></li>
			<li><a href="flpSandbox.html?sap-ui-xx-lesssuport=true">Fiori Launchpad Sandbox with the test Applications (<em>less</em> enabled)</a></li>
		</ul>
		Run locally
		<ul>
			<!-- <li><a href="demokit.html?responderOn=true&demoApp=salesorderdepr">demokit.html</a> - start the Sales Order (deprecated) app with mock data</li> -->
			<!-- <li><a href="demokit.html?responderOn=true&demoApp=products">demokit.html</a> - start the Manage Products app with mock data</li> -->
			<li><a href="demokit.html?responderOn=true&demoApp=sttaproductstreetable">Manage Products Tree table(STTA)</a> - start the Manage Products Tree table technical app with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttaproducts">Manage Products (STTA)</a> - start the Manage Products technical app with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestDynamicHeaderInFCL">Manage Products with object page dynamic header (STTA)</a> - start the Manage Products with object page dynamic header technical app with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestDynamicHeaderInFCLTableTabs">Manage Products with object page dynamic header (STTA)</a> - start the Manage Products with object page dynamic header technical app with mock data, multi tabs, FCL, and reuse component</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestAddressFacet">Manage Products with Address Facet in object page (STTA)</a> - start the Manage Products with Address Facet in object page technical app with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestForwardNavigationProperty">Manage Products with direct navigation to text page (STTA)</a> - start the Manage Products with direct navigation to text page with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttaproducts&manifest=manifestForward1ToNNavigationProperty">Manage Products with texts as entry page</a> - start the Manage Products with texts as entry page with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernd">Sales Orders Non Draft (STTA)</a> - start the Sales Orders Non Draft technical app with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernd&manifest=manifestWithSemanticKey">Sales Orders Non Draft with SemanticKey (STTA)</a> - start the Sales Orders Non Draft technical app with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernd&manifest=manifestWithCopyBreakout">Sales Orders Non Draft with copy breakout (STTA)</a> - start the Sales Orders Non Draft technical app with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesorderitemaggr">Sales Orders Item Aggregation (STTA)</a> - start the Sales Orders Item Aggregation technical app with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordermultientity">Sales Orders with Multiple Entity Sets (STTA)</a> - Sales Orders Multiple Entity Sets technical app with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordermultientity&manifest=manifestWithFCL">Sales Orders with Multiple Entity Sets (STTA) using dynamic "manifestWithFCL.json"</a></li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernoext">Sales Orders w/o Extensions (STTA)</a> - Sales Order app without extensions (for OPA tests)</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernoext&manifest=manifestFCL">Sales Orders w/o Extensions (STTA) using dynamic "manifestFCL.json"</a></li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordernoext&manifest=manifestCanonicalRequests">Sales Orders w/o Extensions (STTA) using dynamic "manifestCanonicalRequests.json"</a></li>
			<li><a href="demokit.html?responderOn=true&withChange=true&demoApp=sttasalesordernoext">Sales Orders w/o Extensions (STTA)</a> - Sales Order with UI Changes (Excel button and Icon Tab Bar)</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordertt">Sales Orders with Table Tabs (STTA)</a> - Sales Order app with table tabs on List Report (for OPA tests)</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersb">Sales Orders with Segmented Buttons (STTA)</a> - Sales Order app with segmented buttons on List Report (for OPA tests)</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersb&manifest=manifestWithoutReusable">Sales Order app with segmented buttons on List Report (for OPA tests) using dynamic "manifestWithoutReusable.json"</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersb&manifest=manifestWithCanvas">Sales Order app with segmented buttons on List Report (for OPA tests) using dynamic "manifestWithCanvas.json"</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersb&manifest=manifestMidColumnFullScreen">Sales Order app with segmented buttons on List Report (for OPA tests) using dynamic "manifestMidColumnFullScreen.json"</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesordersb&manifest=manifestFCLObjectPageOnly">Sales Order app with segmented buttons on List Report (for OPA tests) using dynamic "manifestFCLObjectPageOnly.json"</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesorderwklt">Sales Orders Worklist (STTA)</a> - Sales Order Worklist app (for OPA tests)</li>
			<li><a href="demokit.html?responderOn=true&demoApp=sttasalesorderwklt&manifest=manifestTableTabs">Sales Orders Worklist (STTA) with Table Tabs</a> - Sales Order Worklist app (for OPA tests)</li>
			<li><a href="demokit.html?responderOn=true&demoApp=SalesOrderItemEditableFieldFor">Sales Order Items using EditableFieldFor</a> - Sales Order Items App using EditableFieldFor</li>
			<li><a href="demokit.html?responderOn=true&demoApp=salesorder">demokit.html</a> - start the Sales Order app with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=nondraftsalesorder">demokit.html</a> - start the non-draft Sales Order app with mock data</li>
			<li><a href="demokit.html?responderOn=true&demoApp=epmmanageproducts">Manage Products (EPM)</a> - start the Manage Products EPM reference app with mock data</li>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=analytics2">Analytical List Page</a> - start analytical list report</li>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=alpWithParams">Analytical List Page With Parameters</a> - start analytical list report with parameters</li>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=analytics3">Analytical List Page Without Visual Filters</a> - start analytical list report without Visual filter mode</li>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=analytics4">Analytical List Page With Extensions</a> - start analytical list report with extensions</li>
			<li><a href="demokit.html?sap-ui-xx-lesssupport=true&responderOn=true&demoApp=analytics5">Analytical List Page With TreeTable</a> - start analytical list Page with Tree Table</li>
			<li><a href="../qunit/testsuite.qunit.html">../qunit/testsuite.qunit.html</a> - run all unit tests in demokit context</li>
		</ul>
		Run the demokit templates locally
		<ul>
			<li><a href="demokit.html?responderOn=true&demoApp=tmplsttasalesorder">Template Sales Orders</a> - Template for Sales Order apps</li>
		</ul>
		Run locally with Runtime Adaptation
		<ul>
			<!-- <li><a href="demokit.html?rta=true&responderOn=true&demoApp=products">demokit.html</a> - start the Manage Products app with mock data</li> -->
			<li><a href="demokit.html?rta=true&sap-ui-layer=VENDOR&responderOn=true&demoApp=sttaproducts">demokit.html</a> - start the Manage Products technical app with mock data</li>
			<li><a href="demokit.html?rta=true&sap-ui-layer=VENDOR&responderOn=true&demoApp=salesorder">demokit.html</a> - start the Sales Order app with mock data</li>
			<li><a href="demokit.html?rta=true&sap-ui-layer=VENDOR&responderOn=true&demoApp=nondraftsalesorder">demokit.html</a> - start the non-draft Sales Order app with mock data</li>
		</ul>
		Message Handling with Mock Server<br/>
		<ul>
			<li><a href="indexErr.html">go to message handling site</a></li>
		</ul>

		<p>For more documentation please read the <a href="https://openui5.hana.ondemand.com">UI5 Developer Guide</a>.</p>
		<h2>Tests</h2>
		With these links you can start the OPA tests locally. Tomcat or Jetty (build in maven) webserver needs to run in the background.
		<h2>QUnit Tests</h2>
		<ul>
			<li><a href="../../../../../../sap/suite/ui/generic/template/qunit/testsuite.qunit.html">QUnit Test Suite</a></li>
		</ul>
		<h2>OPA Tests</h2>
		<ul>
			<li><a href="../../../../../../sap/suite/ui/generic/template/integration/ManageProducts/opaTestsProducts.qunit.html">Run the voter OPA tests</a> - run the OPA tests which are executed when pushing to Gerrit</li>
			<li><a href="../../../../../../sap/suite/ui/generic/template/integration/ManageProducts_new/ManageProductsOPA.qunit.html">Run the extended OPA tests</a> - run additional OPA test only available locally</li>
		</ul>
	</body>
</html>
