<html>
<head>
	<title>Demokit message scenarios</title>

	<!--  try to load the basic UI5 styles for standalone, WebIDE and demokit usecase -->
	<link rel="stylesheet" type="text/css" href="resources/sap/ui/core/themes/sap_bluecrystal/library.css">
	<link rel="stylesheet" type="text/css" href="/resources/sap/ui/core/themes/sap_bluecrystal/library.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../resources/sap/ui/core/themes/sap_bluecrystal/library.css">

	<style>
		table.main {
			border: 1px solid grey;
			padding: 0;
			text-align: center;
		}
		table.sub {
			border: 0 solid yellow;
			padding: 0;
			text-align: center;
		}
		th, td {
			border: 1px solid lightgrey;
			width: 130px;
			padding: 5px;
			text-align: center;
		}
		td.main {
			border: 0;
			width: 400px;
			padding: 0;
			text-align: left;
		}
		td.sub {
			border: 0;
			width: 600px;
			padding: 0;
		}
	</style>

</head>

<body class="sapUiBody sapUiMediumMargin sapUiForceWidthAuto">
<h1>Demokit message scenarios</h1>
<h3>Run message scenarios based on Demokit/SDK</h3><br>
<p>Scenarios are collected and could be started from the following <b>wiki</b> below.</p>
<p>running on server <b>veui5infra</b> for Smart Templates with mock data.</p>
<p>note: All test are applied on the app - Manage Products (Technical Application)</p>
<p>See also our internal wiki page Message and error handling scenarios in Smart Templates</a>.</p>
<br>
<h3>Run on local server</h3>
<table class="main">
	<tr>
		<td class="main">Test</td>
		<td class="sub">
			<table class="sub">
				<tr>
					<th>method</th>
					<th>statusCode</th>
					<th>path</th>
					<th>message</th>
					<th>Execute</th>
					<th>info</th>
				</tr>
				<tr>
					<td>GET</td>
					<td>404</td>
					<td>.*</td>
					<td>E</td>
					<td><a href="demokitErr.html?responderOn=true&demoApp=sttaproducts&method=GET&statusCode=404&path=.*i&messages=E&mockLog=true&mockBox=true">Start</a></td>
					<td>mockBox=true</td>
				</tr>
				<tr>
					<td>GET</td>
					<td>404</td>
					<td>.*</td>
					<td>E</td>
					<td><a href="demokitErr.html?responderOn=true&demoApp=sttaproducts&method=GET&statusCode=404&path=.*i&messages=E&mockLog=true">Start</a></td>
					<td>mockBox=false</td>
				</tr>
				<tr>
					<td>special request (testing)</td>
					<td></td>
					<td></td>
					<td></td>
					<td><a href="demokitErr.html?responderOn=true&demoApp=sttaproducts&mockID=1670168169&mockLog=true&mockBox=false">Start</a></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<br/><br/>
Demokit<br/><br/>
<a href="index.html">go to demokit site</a>


<!-- <h2>WebIDE</h2>

		<h3>Manage Products (Technical Application)</h3><br/>
 -->

</body>
</html>
