<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>QUnit test for components._HomepageManager.PagingManager - sap.ushell</title>

        <script id="sap-ui-bootstrap"
                data-sap-ui-theme="sap_belize"
                type="text/javascript"
                src="../../../../../../resources/sap-ui-core.js">
        </script>

        <link rel="stylesheet" href="../../../../../../resources/sap/ui/thirdparty/qunit-2.css" type="text/css" media="screen" />

        <script src="../../../../../../resources/sap/ui/thirdparty/qunit-2.js"></script>
        <script src="../../../../../../resources/sap/ui/qunit/qunit-junit.js"></script>
        <script src="../../../../../../resources/sap/ui/qunit/QUnitUtils.js"></script>
        <script src="../../../../../../resources/sap/ui/thirdparty/sinon.js"></script>
        <script src="../../../../../../resources/sap/ui/qunit/qunit-coverage.js" data-sap-ui-cover-only="PagingManager" data-cover-flags="branchTracking"></script>

        <script src="../../../test/components/_HomepageManager/PagingManager.qunit.js"></script>
    </head>
    <body id="body" class="sapUiBody">
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
    </body>
</html>
