<!DOCTYPE html>
<html>
	<head>
		<title>Opa tests for AnalyticalListPage</title>
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta charset="UTF-8">

		<script id="sap-ui-bootstrap"
				src="../../../../../../../../resources/sap-ui-core.js"
				data-sap-ui-resourceroots='{
					"sap.suite.ui.generic.template.integration": "../",
					"sap.suite.ui.generic.template.demokit" : "../template/demokit"
				}'
				data-sap-ui-frameOptions='deny'>
		</script>

		<script>
		sap.ui.define(["sap/suite/ui/generic/template/integration/AnalyticalListPage/AllJourneys"],function(){

		},true);
		
		</script>
	</head>
	<body>
		<div id="content"></div>
		<div id="qunit"></div>
		<div id="qunit-fixture"></div>
	</body>
</html>
