body {
	min-height: 2000px;
	padding-top: 116px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
}

[id^=geomapplaceholder] .vbi-main {
	height: 300px !important;
	width: 490px !important;
}
#middle {
	text-align: center;
	
} 
#middle *{
	margin: auto;
	
} 
.hero > img {
	max-width:1024px;
    margin: auto;
    display: block;
}



@media screen and (max-width: 736px) { 
	.main {
		width: 96%;
		max-width: 950px;
		margin: 0 auto;
	}
	
	.container .row {
		margin-top: 1rem;
		margin-bottom: 1rem;
		clear: left;
		overflow: auto;
	}
	
	.container {
		max-width: 730px;
		margin: auto;
		margin: auto 2%;
	}
	
	.row .col12 {
		margin: 0 1%;
	}
	
	.row .col6 {
		/* width: 48%; */
		/* margin: 0 1%; */
		/* float: left; */
	}

	
	
	.heroheader {
		height: 700px;
		/* background-color: #144E73; */
		margin: 0 auto;
		/* background-image: url("../media/images/bestpractices2.jpg"); */
		background-repeat: no-repeat;
		background-size: 1024px;
		background-position: 50%;
	}
	
		.heroheader h2 {
		    font-size: 2rem;
    padding-top: 40px;
		margin-top: 0;
		max-width: 1024px;
		margin: auto;
		color: #fff;
		text-shadow: 0 0 10px #000, 0 5px 20px #000, 0 0px 5px #000, 0 0 60px
			#333;
		font-weight: normal;
		/* left: 20px; */
		/* position: relative; */
		text-align: center;
	}
	
	
	.navbrand {
		color: white;
		background-color: #333;
		height: 50px;
	}
	
	
	.headerbar {
		position: absolute;
		font-size: 2rem;
		font-weight: 500;
		font-family: BentonSans, Arial, sans-serif;
		top: 0;
		left: 0;
		margin: 0;
		right: 0;
		background-color: #fff;
	}
	
	.headerbar ul {
		margin: 0;
		max-width: 1024px;
		height: 50px;
		padding: 0;
	}
	
	.headerbar ul li a {
		text-decoration: none;
		color: #333;
		line-height: 2rem;
		display: block;
		margin: 0;
		padding: 0;
		font-size: 1rem;
		padding-left: 10px;
		line-height: 3rem;
		display: block;
		vertical-align: middle;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
	.headerbar .navbrand a {
		text-decoration: none;
		color: #fff;
		line-height: 45px;
		display: block;
		/* vertical-align: middle; */
		/* max-width: 528px; */
		margin: auto 1%;
		/* height: 4rem; */
	}
	
	
	.headerbar ul li {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: 1rem;
		/* padding-left: 10px; */
		line-height: 3rem;
		max-width:;
		width: 23%;
	}
	
	

	
	
	.tocnav {
		position: absolute;
		/* right: 0; */
		top: 225px;
		/* background-color: #eee; */
		margin: 0 5%;
		right: 0;
		left: 0;
		list-style: none;
		padding: 0;
	}
	
	
	.tocnav li a {
		/* text-decoration: none; */
		color: #000;
		line-height: 2.5rem;
		display: block;
		/* line-height: 250%; */
		border-top: 5px solid white;
		padding: 0 10px 0 0;
	}

}
@media screen and (min-width: 1020px) { 
	.main {
		width: 96%;
		max-width: 950px;
		margin: 0 auto;
	}
	
	.container .row {
		margin-top: 1rem;
		margin-bottom: 1rem;
		clear: left;
		overflow: auto;
	}
	
	.container {
		max-width: 1024px;
		margin: auto;
	}
	
	.row .col12 {
		margin: 0 1%;
	}
	
	.row .col6 {
		width: 48%;
		margin: 0 1%;
		float: left;
	}
	
	
	
	.heroheader {
		height: 300px;
		background-color: #144E73;
		margin: 0 auto;
		background-image: url("../media/images/bestpractices2.jpg");
		background-repeat: no-repeat;
		background-size: 1024px;
		background-position: 50%;
	}
	
	
	
	.navbrand {
		color: white;
		background-color: #333;
		height: 66px;
	}
	
	.headerbar {
		position: fixed;
		font-size: 2rem;
		font-weight: 500;
		font-family: BentonSans, Arial, sans-serif;
		top: 0;
		left: 0;
		margin: 0;
		right: 0;
		background-color: #fff;
	}
	
	.headerbar ul {
		margin: auto;
		max-width: 1024px;
		height: 50px;
	}
	
	.headerbar ul li a {
		text-decoration: none;
		color: #333;
		line-height: 2rem;
		display: inline-block;
		vertical-align: middle;
	}
	
	.headerbar .navbrand a {
		text-decoration: none;
		color: #fff;
		line-height: 60px;
		display: block;
		/* vertical-align: middle; */
		max-width: 1024px;
		margin: auto;
		/* height: 4rem; */
	}
	
	.headerbar ul li {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: 1rem;
		padding-left: 10px;
		/* line-height: 6rem; */
		max-width:;
	}
	
	
	.heroheader h2 {
		font-size: 3rem;
		padding-top: 70px;
		margin-top: 0;
		max-width: 1024px;
		margin: auto;
		color: #fff;
		text-shadow: 0 0 10px #000, 0 5px 20px #000, 0 0px 5px #000, 0 0 60px
			#333;
		font-weight: normal;
		left: 20px;
		position: relative;
	}
	
	
	.tocnav {
		position: fixed;
		right: -222px;
		top: 20%;
		background-color: #eee;
		padding: 0;
		transition: right 500ms;
		list-style: none;
	}
	.tocnav li a:before {
		content: " ";
		background-color: #f00;
		width: 10px;
		height: 100%;
		display: inline-block;
	}
	
	.tocnav li a {
		text-decoration: none;
		color: #000;
		line-height: 1.5rem;
		display: block;
		line-height: 250%;
		border-left: 5px solid #222;
		padding: 0 10px 0 0;
	}
}
@media screen and (min-width: 736px) and (max-width: 1020px) { 
	.main {
		width: 96%;
		max-width: 950px;
		margin: 0 auto;
	}
	
	.container .row {
		margin-top: 1rem;
		margin-bottom: 1rem;
		clear: left;
		overflow: auto;
	}
	
	.container {
		max-width: 900px;
		margin: auto 2%;
	}
	
	.row .col12 {
/* 		//margin: 0 1%; */
	}
	
	.row .col6 {
/* 		//width: 48%; */
/* 		margin: 0 1%; */
/* 		float: left; */
	}
	
	
	.heroheader {
		height: 700px;
		/* background-color: #144E73; */
		margin: 0 auto;
		/* background-image: url("../media/images/bestpractices2.jpg"); */
		background-repeat: no-repeat;
		background-size: 1024px;
		background-position: 50%;
	}
	
	
	.navbrand {
		color: white;
		background-color: #333;
		height: 50px;
	}
	
	
	.headerbar {
		position: absolute;
		font-size: 2rem;
		font-weight: 500;
		font-family: BentonSans, Arial, sans-serif;
		top: 0;
		left: 0;
		margin: 0;
		right: 0;
		background-color: #fff;
	}
	
	.headerbar ul {
		margin: 0;
		max-width: 1024px;
		height: 50px;
		padding: 0;
	}
	
	.headerbar ul li a {
		text-decoration: none;
		color: #333;
		line-height: 2rem;
		display: block;
		margin: 0;
		padding: 0;
		font-size: 1rem;
		padding-left: 10px;
		line-height: 3rem;
		display: block;
		vertical-align: middle;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
	.headerbar .navbrand a {
		text-decoration: none;
		color: #fff;
		line-height: 45px;
		display: block;
		/* vertical-align: middle; */
		/* max-width: 528px; */
		margin: auto 1%;
		/* height: 4rem; */
	}
	
	
	.headerbar ul li {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-size: 1rem;
		/* padding-left: 10px; */
		line-height: 3rem;
		max-width:;
		width: 23%;
	}
	
	
	.heroheader h2 {
		font-size: 3rem;
		padding-top: 12px;
		margin-top: 0;
		max-width: 1024px;
		margin: auto;
		color: #fff;
		text-shadow: 0 0 10px #000, 0 5px 20px #000, 0 0px 5px #000, 0 0 60px
			#333;
		font-weight: normal;
		/* left: 20px; */
		/* position: relative; */
		text-align: center;
	}
	
	
	.tocnav {
		position: absolute;
		/* right: 0; */
		top: 225px;
		/* background-color: #eee; */
		margin: 0 5%;
		right: 0;
		left: 0;
		list-style: none;
		padding: 0;
	}
	
	
	.tocnav li a {
		/* text-decoration: none; */
		color: #000;
		line-height: 2.5rem;
		display: block;
		/* line-height: 250%; */
		border-top: 5px solid white;
		padding: 0 10px 0 0;
	}
}

.vos img {
	width: 100%;
}

.vos li {
	display: inline-block;
	width: 15%;
	text-align: center;
}

.container p {
	text-align: justify;
	line-height: 140%;
}

.container:first-child p,.container:first-child h4 {
	margin-top: 0;
}

h2,h3 {
	clear: both;
}

pre {
	font-family: Consolas, monospace;
}

.navbrand a img {
	display: inline-block;
	vertical-align: middle;
}

.headerbar .navwhite {
	background-color: #fff;
}

.headerbar .navbrand a span {
	font-size: 1rem;
	font-weight: 500;
	/* height: 43px; */
	/* display: inline-block; */
	/* vertical-align: middle; */
}

h1 {
	font-size: 3rem;
	font-weight: 100;
}


h2 {
	font-size: 2rem;
	font-weight: 100;
	padding-top: 70px;
	margin-top: 0;
}

h3 {
	font-size: 1.5rem;
	font-weight: 100;
	border-bottom: 1px solid #333;
	padding-top: 5rem;
	margin-top: -3rem;
	padding-bottom: 0.5rem;
	margin-bottom: 2rem;
}

h4 {
	clear: both;
	font-size: 1rem;
	font-weight: 100;
	font-family: BentonSans, Arial, sans-serif;
	color: #333;
	background-color: #eee;
	padding: 1rem 2rem
}


.tocnav:hover {
	right: 0px;
}

.tocnav li {
	/* border-left: 3px solid blue; */
	
}
.tocnav li a:hover {
	background-color: #222;
	color: #eee;
}

.tocnav li a:active {
	background-color: #222;
	color: #eee;
}