/*!
 * ${copyright}
 */
/* =========================== */
/* Global CSS for 'base' theme */
/* =========================== */
.sapFileViewer-outermostContainer {
  height: 100%;
  overflow: auto;
}
.sapFileViewer-outermostContainer .sapFileViewer-toolbarContainer {
  display: none;
}
.sapFileViewer-outermostContainer .sapFileViewer-pdfViewerContainer {
  height: 100%;
}
.sapFileViewer-outermostContainer .sapFileViewer-pdfViewerErrorContainer {
  display: none;
  position: relative;
  top: 3rem;
}
.sapFileViewer-outermostContainer .sapFileViewer-pdfViewerErrorContainer .sapFileViewer-pdfViewerErrorMessage {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  top: 3rem;
}

/* Inline theming parameters */
#sap-ui-theme-sap\.fileviewer{background-image:url('data:text/plain;utf-8,%7B%7D')}
