.sapUshellPageLayout .sapFDynamicPageTitleMainContent {
    align-self: flex-end;
}

.sapUshellPageLayout .sapUiFormResGrid > div,
.sapUshellPageLayout .sapUiFormResGridCont > div {
    padding-left: 0;
    padding-right: 0;
}

/* Page inside of the composer */
.sapFDynamicPage-Std-Desktop .sapUshellPage {
    margin: 0 1rem;
}

/* Edit mode, catalogs hidden */
.sapUiDSCSpan12 .sapUshellPage {
    margin-left: 3rem;
    margin-right: 3rem;
}

/* Edit mode, catalogs visible */
.sapUiDSCSpan8 .sapUshellPage {
    margin-left: 3rem;
    margin-right: 2rem;
}

/* Make the layout header not too close to the pin button */
.sapFDynamicPage.sapUshellPageLayout .sapFDynamicPageContentFitContainer {
    padding-top: 1rem;
}

/* Make the layout header padding the same as in the dynamic page header */
.sapUshellPageLayout .sapUshellPageLayoutHeader {
    padding-left: 3rem;
    padding-right: 3rem;
}
.sapFDynamicPage-Std-Tablet .sapUshellPageLayoutHeader {
    padding-left: 2rem;
    padding-right: 2rem;
}
.sapFDynamicPage-Std-Phone .sapUshellPageLayoutHeader {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* With the side panel visible, align right side of the footer to the content */
.sapUiDSCSpan8 .sapUshellPageLayoutHeader {
    padding-right: 2rem;
}

/*
   Workaround for the faulty resize handle in the MessagePopover used
   in a header toolbar in the layout section on PageDetailEdit view.
*/
.sapUshellMessagePopoverNoResize .sapMPopoverResizeHandle.sapUiIcon {
    display: none
}