/* regression sample 1a */
.selector {
	test1: @myVar;
	test2: darken(#FFF, 10);
}

/* regression sample 1b */
.selector2 {
	test3: 123456;
	test4: darken(@myVar, 10);
}

/* regression sample 1c */
.selector4 {
	test5: @myVar;
	test6: darken(@myVar, 20);
}
