/* regression sample 2 */
.selector {
	test1: @sapParameterThatCannotBeFoundViaApi;
	/* this did not work before in lessmode and was the main reason for this change: */
	test2: lighten(@sapParameterThatCannotBeFoundViaApi, 10);
	test3: @myVar;
}
