@media (max-width:847px) {
	.sapUiBtnIco {
		display: none;
	}
}

@font-face {
	font-family: 'OpenSans-Regular';
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
	from {background: red;}
	to {background: yellow;}
}

/* Standard syntax */
@keyframes myfirst2 {
	from {background: red;}
	to {background: yellow;}
}

/* regression sample 3 */
@media only screen and (max-width : 640px) and (orientation:landscape){
	.customDialog .sapUiVltCell.sapuiVltCell > .customSelectFieldRemoveIcon.sapUiHLayout.sapUiHLayoutNoWrap > .sapUiHLayoutChildWrapper:nth-child(1) {
		width: 94%;
	}
}

/* regression sample 4 */
/* ==|== Visual Forecast ==========================================================
*
*  Custom Control for Stock Availability graphic inside the list table (210)
 *  @see /controls/VisualStatusForecast.js
*
* version: 04.10.2013
* ============================================================
*/

/* regression sample 5 */
@-webkit-keyframes animateNot{
	0% {height:auto;display:block;}
	100% {height:auto;display:block;}
}

/* More css at-rules have to be supported */
@import "morespecials.css";

@charset "iso-8859-1";

@document url(http://www.w3.org/) {
}

@page :first {
}

@supports (animation-name: test) {
}

