<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Testpage - sap.suite.ui.generic.template</title>

<base href="../../../../../">
<!--[if lte IE 9]><script type="text/javascript">
(function() {
	var baseTag = document.getElementsByTagName('base')[0];
	baseTag.href = baseTag.href;
})();
</script><![endif]-->

<script id="sap-ui-bootstrap" 
	type="text/javascript"
	data-sap-ui-libs="sap.suite.ui.generic.template"
	data-sap-ui-theme="sap_bluecrystal"
	src="resources/sap-ui-core.js">
</script>

<script>

</script>
</head>
<body id="body" class="sapUiBody">
	
</body>
</html>